.card--blog p {
  text-align: left;
  color: var(--c-dark-gr);
}

.card--blog a {
  color: var(--c-light-grey);
  text-decoration: underline;
  font-size: 0.7rem;
}

.card--blog .static-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  z-index: -10;
}

.blog__title-container {
  position: relative;
}
.blog__title-container > h3 {
  padding: 3px 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
