#home {
  height: 80vh;
  padding-top: 3rem;
}

#home button {
  width: 200px;
}

#home p {
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;
}

.background-blue {
  background-color: var(--c-blue);
  color: white;
}

.section-header {
  padding: 0 2rem 1rem;
}

section > div {
  padding: 0 1.5rem;
}

.button--white {
  background-color: white;
  color: black;
}

.button--blue {
  background-color: var(--c-blue);
  color: white;
  border: 1px solid white;
}
